---
import type { Tweet } from '../types'
import TweetHeader from './TweetHeader.astro'
import TweetInReplyTo from './TweetInReplyTo.astro'
import TweetBody from './TweetBody.astro'
import TweetMedia from './TweetMedia.astro'
import TweetInfo from './TweetInfo.astro'
import TweetActions from './TweetActions.astro'
import TweetReplies from './TweetReplies.astro'

export interface Props {
  tweet: Tweet
}

const { tweet } = Astro.props
---

<div class="root not-prose">
  <article class="article">
    <TweetHeader tweet={tweet} />
    {tweet.in_reply_to_status_id_str && <TweetInReplyTo tweet={tweet} />}
    <TweetBody tweet={tweet} />
    {tweet.mediaDetails?.length ? <TweetMedia tweet={tweet} /> : null}
    <TweetInfo tweet={tweet} />
    <TweetActions tweet={tweet} />
    <TweetReplies tweet={tweet} />
  </article>
</div>

<style>
  .root {
    min-width: 250px;
    max-width: 550px;
    overflow: hidden;
    border: var(--tweet-border);
    border-radius: 12px;
    margin: var(--tweet-container-margin);
    box-sizing: border-box;
    /* Base font styles */
    color: var(--tweet-font-color);
    font: var(--tweet-font-family);
    font-weight: 400;
    margin: 0 auto;
  }
  .article {
    position: relative;
    outline-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem 0.25rem 1rem;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    background-color: var(--tweet-bg-color);
  }
  .article:hover {
    background-color: var(--tweet-bg-color-hover);
  }
  .notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.75rem;
  }
  .notFound > h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
</style>

<style is:global>
  :root {
    --tweet-skeleton-gradient: linear-gradient(
      270deg,
      #fafafa,
      #eaeaea,
      #eaeaea,
      #fafafa
    );
    --tweet-container-margin: 1.5rem 0;
    --tweet-border: 1px solid rgb(207, 217, 222);
    --tweet-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif;
    --tweet-font-color: rgb(15, 20, 25);
    --tweet-font-color-secondary: rgb(83, 100, 113);
    --tweet-bg-color: #fff;
    --tweet-bg-color-hover: rgb(247, 249, 249);
    --tweet-color-blue-primary: rgb(29, 155, 240);
    --tweet-color-blue-secondary: rgb(0, 111, 214);
    --tweet-color-blue-secondary-hover: rgba(0, 111, 214, 0.1);
    --tweet-color-red-primary: rgb(249, 24, 128);
    --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
    --tweet-color-green-primary: rgb(0, 186, 124);
    --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
    --tweet-twitter-icon-color: var(--tweet-color-blue-primary);
    --tweet-verified-old-color: rgb(130, 154, 171);
    --tweet-verified-blue-color: var(--tweet-color-blue-primary);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --tweet-skeleton-gradient: linear-gradient(
        270deg,
        #15202b,
        rgb(30, 39, 50),
        rgb(30, 39, 50),
        rgb(21, 32, 43)
      );
      --tweet-container-margin: 1.5rem 0;
      --tweet-border: 1px solid rgb(66, 83, 100);
      --tweet-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
      --tweet-font-color: rgb(247, 249, 249);
      --tweet-font-color-secondary: rgb(139, 152, 165);
      --tweet-bg-color: rgb(21, 32, 43);
      --tweet-bg-color-hover: rgb(30, 39, 50);
      --tweet-color-blue-primary: rgb(29, 155, 240);
      --tweet-color-blue-secondary: rgb(107, 201, 251);
      --tweet-color-blue-secondary-hover: rgba(107, 201, 251, 0.1);
      --tweet-color-red-primary: rgb(249, 24, 128);
      --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
      --tweet-color-green-primary: rgb(0, 186, 124);
      --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
      --tweet-twitter-icon-color: #fff;
      --tweet-verified-old-color: rgb(130, 154, 171);
      --tweet-verified-blue-color: #fff;
    }
  }
</style>
