---
import clsx from 'clsx'
import type { Tweet } from '../types'
// import s from './tweet-header.module.css'
import { getFollowUrl, getUserUrl } from '../utils'

export interface Props {
  tweet: Tweet
}

const { tweet } = Astro.props
const url = getUserUrl(tweet)
const followURL = getFollowUrl(tweet)
---

<div class="header">
  <a href={url} target="_blank" rel="noopener noreferrer" class="avatar">
    <div class="avatarOverflow">
      <img
        src={tweet.user.profile_image_url_https}
        alt={tweet.user.name}
        width={48}
        height={48}
      />
    </div>
    <div class="avatarOverflow">
      <div class="avatarShadow"></div>
    </div>
  </a>
  <div class="author">
    <a href={url} class="authorLink" target="_blank" rel="noopener noreferrer">
      <div class="authorLinkText">
        <span class="name" title={tweet.user.name}>{tweet.user.name}</span>
      </div>
      {
        tweet.user.verified && (
          <div
            class={clsx(
              'authorVerified',
              // For some reason `is_blue_verified` is always false, so we use the existence
              // of `verified_type` to determine if the account is blue verified.
              // `verified_type` can be something like "government", a blue user doesn't have it.
              tweet.user.verified &&
                (tweet.user.verified_type ? 'verifiedOld' : 'verifiedBlue')
            )}>
            <svg
              viewBox="0 0 24 24"
              aria-label="Verified account"
              role="img"
              class="authorVerifiedIcon">
              <g>
                <path d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z" />
              </g>
            </svg>
          </div>
        )
      }
    </a>
    <div class="authorMeta">
      <a href={url} target="_blank" rel="noopener noreferrer" class="username">
        <span title={`@${tweet.user.screen_name}`}>
          @{tweet.user.screen_name}
        </span>
      </a>
      <div class="authorFollow">
        <span class="separator">·</span>
        <a
          href={followURL}
          class="follow"
          target="_blank"
          rel="noopener noreferrer">
          Follow
        </a>
      </div>
    </div>
  </div>
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class="brand"
    aria-label="View on Twitter">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="twitterIcon">
      <g>
        <path
          d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
        ></path>
      </g>
    </svg>
  </a>
</div>

<style>
  .header {
    display: flex;
    padding-bottom: 0.75rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  .avatar {
    position: relative;
    height: 48px;
    width: 48px;
  }
  .avatarOverflow {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 9999px;
  }
  .avatarShadow {
    height: 100%;
    width: 100%;
    transition-property: background-color;
    transition-duration: 0.2s;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
  }
  .avatarShadow:hover {
    background-color: rgba(26, 26, 26, 0.15);
  }

  .author {
    max-width: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.25rem;
  }
  .authorLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  .authorLink:hover {
    text-decoration-line: underline;
  }
  .authorVerified {
    display: inline-flex;
  }
  .authorLinkText {
    font-weight: 700;
  }
  .authorVerifiedIcon {
    margin-left: 0.125rem;
    max-width: 20px;
    max-height: 20px;
    height: 1.25em;
    fill: currentColor;
    user-select: none;
    vertical-align: text-bottom;
  }
  .verifiedOld {
    color: var(--tweet-verified-old-color);
  }
  .verifiedBlue {
    color: var(--tweet-verified-blue-color);
  }
  .authorMeta {
    display: flex;
  }
  .authorFollow {
    display: flex;
  }
  .username {
    color: var(--tweet-font-color-secondary);
    text-decoration: none;
    text-overflow: ellipsis;
  }
  .follow {
    color: var(--tweet-color-blue-secondary);
    text-decoration: none;
    font-weight: 700;
  }
  .follow:hover {
    text-decoration-line: underline;
  }
  .separator {
    padding: 0 0.25rem;
  }

  .brand {
    margin-left: auto;
  }

  .twitterIcon {
    width: 25px;
    height: 25px;
    color: var(--tweet-twitter-icon-color);
    fill: currentColor;
    user-select: none;
  }
</style>
