---
import "../../../styles/global.css"
import BaseLayout from '../../../components/BaseLayout'
import BlogPreview from '../../../components/BlogPreview'
import Paginator from '../../../components/Paginator'
import _ from 'lodash'

export async function getStaticPaths({ paginate }) {
    const posts = Astro.fetchContent('../../*.md').filter(post => !post.draft)
    const categories = _.uniqBy(posts.flatMap((post) => post.tags), 'slug')
    
    return categories.map(category => {
        const filteredPosts = posts
            .filter(post => post.tags.map(tag => tag.slug).includes(category.slug))
            .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf())

        return paginate(filteredPosts, {
            pageSize: 5,
            params: { slug: category.slug },
            props: { category }
        })
    })
}

const { page, category } = Astro.props
---
<BaseLayout title={`Category: ${category.name}`} 
            description={`Category page with all the articles on ${category.name}`}>
    <div class="px-3 mx-auto my-0 max-w-3xl">
        <section class="flex flex-col gap-5 items-center text-center mb-10 md:flex-row md:text-left">
            <div class="prose dark:prose-invert grid content-center">
                <h1 class="text-5xl">{category.name}</h1>
            </div>
        </section>
        <section class="flex flex-col gap-10">
            {page.data.map(p => <BlogPreview post={p} />)}
            <Paginator previousURL={page.url.prev} nextURL={page.url.next} />
        </section>
    </div>
</BaseLayout>