---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview.svelte'
import Paginator from '@components/Paginator.svelte'
import Hero from '@components/Hero.svelte'
import { getCollection } from 'astro:content'
import type { GetStaticPathsOptions } from 'astro'
import Media from '@components/YoutubeVideo.svelte'
import Subscribe from '@components/Subscribe.svelte'
import YoutubeVideo from '@components/YoutubeVideo.svelte'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection('blog')
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )

  return paginate(sortedPosts, {
    pageSize: 6,
  })
}

interface PageItem {
  data: PageItemData
  slug: string
}

interface PageItemData {
  title: string
  excerpt: string
  pubDate: Date
}

const { page } = Astro.props
---

<BaseLayout
  title="polpielladev 📱 | A blog about iOS mobile app development and Swift"
  description="Blog posts about iOS mobile app development and Swift by Pol Piella."
  image="https://polpiella.dev/assets/home.jpg"
  activeNav="index">
  <div class="flex flex-col gap-6">
    <section>
      <Hero
        title="Welcome to my blog 👋"
        body="I'm Pol, a content creator and iOS developer. In this blog I write about all things iOS, Swift and software development best practices. I also have a newsletter about iOS CI/CD if you want to subscribe 👇">
        <Subscribe />
      </Hero>
    </section>
    <!-- Latest -->
    <section class="flex flex-col gap-6">
      <div>
        <h2 class="text-2xl font-title dark:text-gray-50 flex pb-1">
          Latest articles
        </h2>
        <hr />
      </div>
      <Paginator previousURL={page.url.prev} nextURL={page.url.next} />
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 pt-4">
        {
          page.data.map((post: PageItem, index: number) => (
            <BlogPreview
              title={post.data.title}
              slug={post.slug}
              excerpt={post.data.excerpt}
              pubDate={post.data.pubDate}
              isNew={index == 0 && page.currentPage == 1}
            />
          ))
        }
      </div>
    </section>

    <section class="flex flex-col gap-6">
      <div>
        <h2 class="text-2xl font-title dark:text-gray-50 flex pb-1">
          Speaking
        </h2>
        <hr />
      </div>

      <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-6">
        <YoutubeVideo id="ORGwfDBfLLk" />
        <YoutubeVideo id="5Xf5ihKvogs" />
        <YoutubeVideo id="yyOXynCoagE" />
        <YoutubeVideo id="l7nN7QdiGyY" />
        <YoutubeVideo id="sZj-8sDUYAs" />
      </div>
    </section>
  </div>
</BaseLayout>
