---
import BaseLayout from '../components/BaseLayout'
import BlogPreview from '../components/BlogPreview'
import Paginator from '../components/Paginator'
import getPopularPosts from '../services/getPopularPosts'
import uniqBy from '../utils/uniqBy'

export async function getStaticPaths({ rss, paginate }) {
  const posts = await Astro.glob('./*.md')
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )

  const categories = uniqBy(
    posts.flatMap((post) => post.frontmatter.tags),
    'slug'
  )

  const response = await getPopularPosts()

  const popularPosts = response.map((post) => {
    const fullPost = posts.find((p) => p.frontmatter.slug === post.slug)
    return { ...post, fullPost }
  })

  return paginate(sortedPosts, {
    pageSize: 5,
    props: { categories, popularPosts },
  })
}

const { page, categories, popularPosts } = Astro.props
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(
  'polpiella.dev'
)}`
---

<BaseLayout
  title='polpielladev 📱 | A blog about software engineering and app development'
  description='A blog where I talk about software development topics in languages like Swift, Javascript and using frameworks such as Next.js, React, Combine and many more!'
  imageURL={fullImageURL}>
  <div class='flex mx-auto my-0 gap-1'>
    <div class='px-3 my-0 max-w-3xl flex flex-col gap-5'>
      <section
        class='flex flex-col gap-5 items-center text-center md:flex-row md:text-left'>
        <img class='object-cover m-0 w-20 h-auto' src='/assets/profile.png' />
        <div class='prose dark:prose-invert grid content-center'>
          <h2 class='m-0'>
            iOS Dev blog by <a
              class='font-bold underline decoration-amber-500 decoration-wavy hover:text-amber-700 dark:hover:text-amber-300'
              target='_blank'
              rel='noopener noreferrer'
              href='https://twitter.com/polpielladev'
              >Pol Piella
            </a>
          </h2>
          <p class='m-0'>iOS developer at <b>BBC iPlayer</b></p>
        </div>
      </section>

      <Paginator previousURL={page.url.prev} nextURL={page.url.next} />
      <section class='flex flex-col gap-8'>
        {page.data.map((post) => <BlogPreview post={post} />)}
      </section>
    </div>
    <aside
      class='prose prose-a:text-gray-700 prose-a:no-underline dark:prose-invert dark:prose-a:text-gray-200 max-w-xs lg:flex lg:flex-col lg:gap-4 hidden'>
      <!-- Show top posts -->
      <section class='flex flex-col gap-3 mb-4'>
        <h1 class='m-0 text-2xl font-bold'>Most popular posts</h1>
        {popularPosts &&
          popularPosts.map((post, index) => {
            const icon = index === 0 ? '🥇' : index === 1 ? '🥈' : '🥉'
            return (
              <a href={`/${post.slug}`}>
                <h4 class="m-0">{icon}</h4>
                <h4 class="m-0 hover:underline">{post.fullPost.frontmatter.title} </h4>
                <small>Viewed by {post.uniques} people 👀</small>
              </a>
              <hr class='m-0' />
            )
          })}
      </section>
      <!-- Browse by category -->
      <section>
        <h1 class='mb-3 text-2xl font-bold'>Browse by topic</h1>
        <div class='flex flex-wrap gap-3'>
          {categories.map((category) => (
            <a
              href={`/category/${category.slug}`}
              class="rounded bg-gray-300 px-2  transition-colors hover:bg-slate-300 dark:bg-gray-700 dark:hover:bg-slate-800">
              {category.name}
            </a>
          ))}
        </div>
      </section>
    </aside>
  </div>
</BaseLayout>
