---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview.svelte'
import Paginator from '@components/Paginator.svelte'
import Subscribe from '@components/Subscribe.svelte'
import InfoPane from '@components/InfoPane.svelte'
import { getCollection } from 'astro:content'
import type { GetStaticPathsOptions } from 'astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection('blog')
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )

  return paginate(sortedPosts, {
    pageSize: 5,
  })
}

interface PageItem {
  data: PageItemData
  slug: string
}

interface PageItemData {
  title: string
  excerpt: string
  pubDate: Date
}

const { page } = Astro.props
---

<BaseLayout
  title="polpielladev 📱 | A blog about iOS mobile app development and Swift"
  description="Blog posts about iOS mobile app development and Swift by Pol Piella."
  image="https://polpiella.dev/assets/home.jpg"
  activeNav="index">
  <div class="my-0 flex flex-col gap-8">
    <InfoPane
      title="Pol Piella Abadia"
      subtitle="Senior software engineer at the BBC"
      description="Hi, welcome to my blog! I am Pol, a senior iOS developer working in the iPlayer app by the BBC. I love sharing content and writing about all things mobile development and Swift."
      alt="/assets/profile.jpg"
      image="/assets/profile.jpg"
      circleImage
    />

    <section class="w-full">
      <Subscribe client:load />
    </section>

    <section>
      <Paginator previousURL={page.url.prev} nextURL={page.url.next} />

      <div class="mt-4 flex flex-col gap-8">
        {
          page.data.map((post: PageItem) => (
            <BlogPreview
              title={post.data.title}
              slug={post.slug}
              excerpt={post.data.excerpt}
              pubDate={post.data.pubDate}
            />
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
