---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview.svelte'
import Paginator from '@components/Paginator.svelte'
import Subscribe from '@components/Subscribe.svelte'
import InfoPane from '@components/InfoPane.svelte'
import { getCollection } from 'astro:content'
import type { GetStaticPathsOptions } from 'astro'
import Media from '@components/Media.svelte'
import TwoColumns from '@components/TwoColumns.svelte'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection('blog')
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )

  return paginate(sortedPosts, {
    pageSize: 10,
  })
}

interface PageItem {
  data: PageItemData
  slug: string
}

interface PageItemData {
  title: string
  excerpt: string
  pubDate: Date
}

const { page } = Astro.props
---

<BaseLayout
  title="polpielladev 📱 | A blog about iOS mobile app development and Swift"
  description="Blog posts about iOS mobile app development and Swift by Pol Piella."
  image="https://polpiella.dev/assets/home.jpg"
  activeNav="index">
  <section class="flex flex-col gap-6">
    <div>
      <h2 class="text-2xl font-black flex pb-1">Latest posts</h2>
      <hr />
    </div>
    <div class="grid grid-cols-2 gap-6">
      {
        page.data.map((post: PageItem) => (
          <BlogPreview
            title={post.data.title}
            slug={post.slug}
            excerpt={post.data.excerpt}
            pubDate={post.data.pubDate}
          />
        ))
      }
    </div>
  </section>

  <div class="flex flex-col gap-12" slot="main">
    <Paginator previousURL={page.url.prev} nextURL={page.url.next} />
  </div>
</BaseLayout>
