---
import Metadata from '../components/Metadata'
import Header from '../components/Header'
import Tags from '../components/Tags'
import Footer from '../components/Footer'
import { Markdown } from 'astro/components'

export async function getStaticPaths({ rss }) {
    const posts = Astro.fetchContent('../_posts/*.md')
    const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date))

    rss({
        title: 'polpiella.dev',
        description: 'A blog about iOS development and software engineering.',
        customData: `<language>en-us</language>`,
        items: sortedPosts.map(item => ({
            title: item.title,
            description: item.astro.html,
            link: `https://${item.slug}`,
            pubDate: item.date,
        })),
        dest: '/rss.xml'
    })

    return posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: { post }
        }
    })
}

const { post } = Astro.props
const { title, excerpt, tags, date, readtime, astro } = post
const { source } = astro
const formattedDate = new Date(date).toLocaleDateString('en-US', {
    year: 'numeric', month: 'long', day: 'numeric'
})
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(title)}`
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={excerpt} />
    <meta property="og:image" content={fullImageURL} />
    <meta name="twitter:image" content={fullImageURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={excerpt} />
    <meta name="twitter:site" content="@polpielladev" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href={Astro.resolve('../styles/blog-detail.css')} />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
        rel="alternate"
        type="application/rss+xml"
        title="RSS Feed for polpiella.dev"
        href="/rss.xml"
    />
    <script hoist src="https://cdn.usefathom.com/script.js" data-site="FBLWSUCQ" defer></script>
</head>

<body class="dark:bg-gray-900">
    <Header />
    <div class="w-full">
        <article class="prose prose-lg dark:prose-invert prose-pre:shadow-lg prose-img:shadow-lg mx-auto my-0 px-3">
            <header>
                <h3 class=" text-zinc-400 m-0 font-bold">{formattedDate}</h3>
                <div class="flex flex-col gap-5">
                    <h1 class="m-0">{title}</h1>
                    <Tags tags={tags} />
                    <Metadata readtime={readtime} />
                    <hr class="m-0" />
                </div>
            </header>
            <Markdown content={source} />
        </article>
    </div>
    <Footer />
</body>
</html>