---
import BaseLayout from '@layouts/BaseLayout.astro'
import { speakingEngagements, SpeakingEngagement } from 'src/data/speaking'
import TitledGrid from '@components/TitledGrid.svelte'
import Talk from '@components/Talk.astro'
import AppShowcase from '@components/AppShowcase.astro'

const engagementsByYear: { [key: number]: SpeakingEngagement[] } =
  speakingEngagements.reduce<{ [key: number]: SpeakingEngagement[] }>(
    (acc, engagement) => {
      const year = engagement.startDate.getFullYear()
      if (!acc[year]) {
        acc[year] = []
      }
      acc[year]!.push(engagement)
      return acc
    },
    {}
  )
---

<BaseLayout
  title="About | polpielladev 📱"
  description="About Pol Piella."
  activeNav="about">
  <div class="space-y-12">
    <section
      class="section container mx-auto flex w-full scroll-m-20 flex-col justify-center gap-4 align-middle md:max-w-2xl lg:max-w-4xl">
      <svg
        class="rounded-full border-2 border-slate-400 shadow-lg"
        width="150px"
        height="150px"
        viewBox="0 0 90 90"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>solid</title>
        <defs>
          <path d="M0,0 L90,0 L90,90 L0,90 L0,0 Z" id="path-1"></path>
        </defs>
        <g
          id="solid"
          stroke="none"
          fill="none"
          xlink:href="#path-1"
          fill-rule="evenodd"
          stroke-width="1">
          <g id="Group">
            <path
              d="M61.3536,49.4846 C61.8059,50.9069 63.965,54.6007 64.988,56.2698 C64.988,59.7606 63.965,67.953 63.4534,71.6128 C61.7305,73.1473 57.2507,76.4587 53.1156,77.4278 C48.9805,78.397 44.5007,77.024 42.7778,76.2164 L42.7778,74.278 L44.2315,73.3089 L40.7587,64.9901 L33.9745,64.9901 L30.9054,56.9137 L27.271,50.7756 C26.7864,48.3797 25.7203,43.4586 25.3327,42.9415 C24.8481,42.2951 25.898,38.9859 25.8173,38.2571 C25.7526,37.6741 24.6058,35.1605 24.0405,33.9766 C24.1751,32.3883 24.3635,28.8562 24.0405,27.4347 C23.7174,26.0133 23.9058,23.3427 24.0405,22.185 L28.4825,17.3392 L35.9936,12.1719 L49.4812,13.2204 L53.681,18.7931 C56.2385,21.9165 61.612,28.6478 62.6458,30.5861 C63.938,33.009 64.988,34.3016 64.0188,38.9859 C63.2434,42.7334 61.4882,43.6153 60.7075,43.5878 C60.7344,44.9608 60.9013,48.0624 61.3536,49.4846 Z"
              id="Path"
              fill="#FFFFFF"
              fill-rule="nonzero"></path>
            <path
              d="M51.5579,27.2839 C51.5579,26.2905 51.2185,22.9466 51.1335,21.7617 L54.7002,23.1814 L58.3096,24.8984 L60.5807,30.2136 C58.6677,30.7519 57.8336,31.7925 57.4599,33.1997 C57.0862,34.6068 57.3836,38.0972 57.695,39.3676 L54.9685,40.929 C55.4083,38.3556 55.3456,34.4533 54.7002,32.51 C53.8934,30.081 51.5579,29.2153 51.5579,27.2839 Z"
              id="Path"
              fill="#878787"
              fill-rule="nonzero"></path>
            <path
              d="M49.3498,19.0375 L51.0564,18.5804 C50.5836,19.8351 50.8705,20.8025 51.0021,21.9513 C51.054,22.4035 51.3649,22.7955 51.8052,22.9113 C53.7995,23.4355 56.8879,24.3975 57.5452,25.1931 C58.2926,26.0977 59.6118,29.3382 60.1779,30.8453 C60.7554,30.2075 62.1171,30.2456 62.7257,30.3443 C62.9522,28.9484 63.4476,25.8213 63.6174,24.4812 C63.8297,22.806 63.3202,19.4124 62.7257,17.4872 C62.2501,15.9471 60.6875,14.6678 59.9656,14.2206 L60.8573,12.7967 C57.8566,10.8002 49.8509,6.78203 41.8339,6.68152 C31.8127,6.55588 24.2542,12.9216 22.7256,15.7709 C21.197,18.6202 21.0695,23.3497 21.7065,23.6428 C22.216,23.8774 23.6173,23.5451 24.2542,23.3497 C24.4665,23.1403 25.3328,22.5372 27.0992,21.8001 C28.8657,21.063 31.0058,20.0412 31.8551,19.6224 L30.9209,22.0933 C34.0632,20.5437 36.0165,17.4441 38.4369,16.6065 C40.8573,15.7689 44.3393,14.9732 44.8488,15.7709 C45.2564,16.4091 45.0186,18.4645 44.8488,19.4124 C45.8339,19.0104 46.9861,16.8172 47.439,15.7709 C49.0356,16.5415 49.3781,18.2697 49.3498,19.0375 Z"
              id="Path"
              fill="#454545"
              fill-rule="nonzero"></path>
            <path
              d="M32.5986,37.3164 C32.1165,38.9151 30.9986,42.2208 30.5647,43.8212 C30.0223,45.8217 30.881,47.7836 37.4348,45.6571"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M54.3056,65.9357 L57.3346,53.4219 C56.1178,55.0828 53.0104,58.9942 50.3148,61.3528 C47.6191,63.7115 44.1841,66.8751 42.8036,68.162 L43.9267,73.9183 C42.71,74.1523 41.0065,74.9151 43.9267,76.0944 C46.847,77.2737 47.3787,77.2483433 47.3787,77.2483433 L50.2496,70.6849 C50.2928,70.5864 50.3515,70.4954 50.4236,70.4155 L54.0758,66.3706 C54.1874,66.247 54.2664,66.0975 54.3056,65.9357 Z"
              id="Path"
              fill="#000000"
              fill-rule="nonzero"
              opacity="0.3"></path>
            <path
              d="M59.5365,31.9967 C60.3651,30.6295 62.384,28.8134 63.8303,32.4867 C65.6382,37.0784 62.8811,44.3909 59.5365,43.3656"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M43.5736,72.0039 L42.3638,68.375 L33.1686,64.9883 C31.4748,66.3326 27.6193,69.36 25.748,70.7151 C23.4089,72.4089 19.5373,75.6353 17.6015,80.0715 C16.0528,83.6205 14.7515,90.2076 14.2944,93.0576 L42.3638,93.7835 L42.3638,81.362 C42.3638,76.2644 43.1703,72.9992 43.5736,72.0039 Z"
              id="Path"
              fill="#454545"
              fill-rule="nonzero"></path>
            <line
              x1="60.3694"
              y1="35.3203"
              x2="60.1589"
              y2="38.504"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></line>
            <line
              x1="59.0393"
              y1="36.9486"
              x2="61.7964"
              y2="36.6367"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></line>
            <path
              d="M24.4622,23.3438 C24.2348,24.0534 23.8364,25.6276 23.9274,26.9747 C24.0411,28.6586 24.4202,30.1543 24.3065,31.1638 C24.2155,31.9714 23.8894,33.6939 23.7378,34.4542 C24.218,35.1521 25.2694,36.7799 25.6333,37.7071 C26.0883,38.8662 25.2116,40.6804 25.2764,42.9839 C25.3068,44.0607 26.8465,49.348 27.5668,51.5416"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M26.3537,34.4644 C24.898,34.5534 24.3318,35.3257 24.2307,35.7007 L24.0411,35.1382 L24.0411,33.3425 C24.9005,33.0685 26.8693,32.5503 27.8702,32.67 C28.7616,32.7766 29.5789,33.4047 29.9791,33.8047 C30.0642,33.8898 30.1069,34.0067 30.1069,34.127 C30.1069,34.4382 29.8234,34.6738 29.5154,34.6297 C28.711,34.5146 27.474,34.3959 26.3537,34.4644 Z"
              id="Path"
              fill="#000000"
              fill-rule="nonzero"></path>
            <path
              d="M41.6513,30.4268 C38.2963,30.4583 36.8039,31.2542 35.0741,32.1551 C34.8734,32.2596 34.8544,32.5406 35.0398,32.6701 L35.7267,33.1498 C35.9611,33.3135 36.2544,33.3703 36.5293,33.2916 C37.5581,32.9972 39.0779,32.4535 40.0775,32.2191 C41.1934,31.9574 43.5839,32.308 44.7441,32.535 C44.8164,32.5491 44.891,32.5443 44.9607,32.5205 C45.2998,32.4042 45.3294,31.9652 45.0035,31.8156 C44.1395,31.4189 42.8634,30.8601 42.0482,30.5074 C41.9232,30.4533 41.7875,30.4255 41.6513,30.4268 Z"
              id="Path"
              fill="#000000"
              fill-rule="nonzero"></path>
            <ellipse
              id="Oval"
              fill="#000000"
              fill-rule="nonzero"
              cx="28.2154"
              cy="37.3789"
              rx="1.34264"
              ry="1.71875"></ellipse>
            <ellipse
              id="Oval"
              fill="#000000"
              fill-rule="nonzero"
              cx="41.0973"
              cy="35.543"
              rx="1.40859"
              ry="1.83594"></ellipse>
            <path
              d="M63.1383,72.2455 C64.5453,66.942 65.4653,54.9281 64.383,52.3846 C63.8837,51.2113 63.1925,50.5214 62.5792,50.1406 C64.2087,51.051 67.7599,53.2396 68.9288,54.7116 C70.39,56.5516 71.5264,56.8763 72.4464,57.5798 C73.5828,57.8504 76.6026,58.7596 79.5898,60.2315 C82.5771,61.7035 89.0603,64.7052 91.9285,66.022 C93.3896,72.3357 96.1387,86.4457 95.446,92.3769 L56.7209,94.106 L57.9431,89.2382 C59.2058,85.3417 62.0127,76.4882 63.1383,72.2455 Z"
              id="Path"
              fill="#454545"
              fill-rule="nonzero"></path>
            <path
              d="M35.1044,55.878 C32.0349,54.9401 31.7991,52.5471 32.0649,51.4679 C32.4884,51.3275 33.774,50.9721 35.528,50.6732 C37.282,50.3742 41.4577,50.0165 43.3262,49.875 C41.7317,52.9893 38.9413,57.0504 35.1044,55.878 Z"
              id="Path"
              fill="#FF9D9D"
              fill-rule="nonzero"></path>
            <path
              d="M32.0754,65.4766 C30.5601,66.7573 27.2373,69.5246 26.0684,70.3478 C24.6072,71.3767 22.4426,73.5414 21.4144,74.5696 C20.3861,75.5978 14.8121,81.6589 14.3792,95.5128"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <polygon
              id="Path"
              fill="#000000"
              fill-rule="nonzero"
              points="23.8296 27.0372 20.8241 24.0982 24.1693 23.4766"
            ></polygon>
            <path
              d="M37.6157,52.2842 C35.434,52.7658 33.2501,52.7695 32.4308,52.7111 L31.7238,51.1136 C32.7675,51.0309 35.2791,50.7875 36.976,50.4756 C38.6729,50.1637 40.803,49.9687 41.6559,49.9102 C41.2182,50.5008 39.7974,51.8026 37.6157,52.2842 Z"
              id="Path"
              fill="#F3F3F3"
              fill-rule="nonzero"></path>
            <path
              d="M33.8682,57.3184 C32.045,56.4123 31.1519,53.0647 30.9332,51.5042 L32.487,51.2571 C32.8323,52.2021 33.5919,54.3333 33.8682,54.7302 C34.2134,55.2264 36.8721,56.0061 39.2201,54.3049 C41.0984,52.944 42.3507,50.8315 42.742,49.9453 L43.2944,49.9453 C42.9261,50.9967 41.9478,53.4823 40.981,55.0133 C39.7725,56.9271 36.147,58.451 33.8682,57.3184 Z"
              id="Path"
              fill="#FED1D0"
              fill-rule="nonzero"></path>
            <path
              d="M30.7539,51.0055 C32.1433,50.9477 35.1484,50.9915 36.0971,50.7918 C37.0457,50.5921 41.3181,49.924 43.2944,49.6641"
              id="Path"
              stroke="#FED1D0"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M60.5496,43.6406 C60.6217,45.2285 60.8978,48.172 61.4607,49.7307 M61.4607,49.7307 C62.0235,51.2894 63.93,54.594 64.85,56.1092 M61.4607,49.7307 C61.7203,49.746 62.1288,49.859 62.5792,50.1386 M57.9431,89.2361 C59.2058,85.3397 62.0127,76.4862 63.1383,72.2434 C64.5453,66.94 65.4653,54.9261 64.383,52.3826 C63.8837,51.2093 63.1925,50.5194 62.5792,50.1386 M57.9431,89.2361 C58.7188,88.1538 60.4216,85.9134 61.0277,85.6103 C61.7854,85.2315 65.1406,83.9868 65.6277,82.7421 C66.0173,81.7464 66.3312,80.1265 66.4394,79.441 C69.3978,79.4229 76.1696,78.8998 79.5898,76.9516 C78.4173,73.2175 75.9532,65.3381 75.4769,63.693 C74.8816,61.6365 73.3664,58.2813 72.4464,57.5778 M57.9431,89.2361 L56.7209,94.104 M72.4464,57.5778 C71.5264,56.8743 70.39,56.5496 68.9288,54.7096 C67.7599,53.2376 64.2087,51.0489 62.5792,50.1386 M72.4464,57.5778 C73.5828,57.8484 76.6026,58.7575 79.5898,60.2295 C82.5771,61.7015 89.0603,64.7032 91.9285,66.02 C93.3896,72.3336 96.1387,86.4437 95.446,92.3749"
              id="Shape"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M35.647,68.4534 C33.2118,71.8619 28.114,79.1771 27.2048,81.1697 C28.1068,81.9999 30.5492,83.2924 33.1036,81.8204 C32.833,82.3615 32.3026,83.6062 32.3459,84.2556 C32.3892,84.905 39.0384,93.4014 42.3575,97.5684 C42.3575,94.3755 42.3575,86.929 42.3575,82.6862 C42.3575,79.6471 42.6596,76.5192 42.938,74.2494 M43.3858,70.997 C43.3395,71.3436 43.1454,72.5583 42.938,74.2494 M42.3575,67.75 L44.6584,74.6797 L43.3858,74.6797 M42.938,74.2494 C42.8368,75.1061 42.5547,76.0223 46.0614,77.018 C50.4449,78.2627 57.2938,77.3293 63.3007,71.5388"
              id="Shape"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M56.972,38.5057 C57.2642,38.3669 57.6048,38.5378 57.6556,38.8572 C57.8432,40.041 58.1136,42.1694 58.2249,43.157 C58.3948,44.6646 58.3094,51.7 57.5452,53.6688 C56.7809,55.6371 48.6284,64.2643 46.2503,66.4842 C43.8726,68.7036 39.9662,70.5466 37.6732,69.9607 C35.3802,69.3744 32.7472,67.6567 31.1761,64.2645 C29.9193,61.5509 29.1238,57.4949 28.8831,55.8055 C28.1329,54.8981 26.5811,52.8649 26.3773,51.9949 C26.1736,51.1248 26.2923,49.5086 26.3773,48.8094 L27.9222,51.9949 C28.0493,51.199 27.5089,49.2611 29.4114,48.8094 C31.5269,48.307 32.2944,46.8843 32.5774,46.7166 L36.3138,46.0877 C40.2628,48.2236 42.4287,46.4646 42.8958,46.4646 C43.363,46.4647 44.5089,46.7588 45.1458,47.5125 C45.6553,48.1157 46.3212,50.0527 46.5901,50.9461 C47.666,50.1224 50.1822,48.1821 51.6429,47.0096 C53.0036,45.9172 54.4459,41.7039 55.1175,39.7215 C55.204,39.466 55.3896,39.2573 55.6331,39.1414 L56.972,38.5057 Z M43.5101,49.448 C41.7732,49.9094 38.1414,50.7274 36.9339,50.5857 C35.7266,50.444 34.5387,49.7913 34.1673,49.448 C33.7359,49.7873 32.6237,51.3586 30.5745,51.575 C31.1016,52.7449 32.1979,55.3045 32.3704,56.1834 C32.586,57.2824 32.8024,61.7473 34.5989,61.3221 C34.6606,60.9976 34.4138,59.8871 34.1673,59.1326 C33.8593,58.1899 33.8327,57.6891 35.469,58.117 C37.0723,58.5363 39.2166,56.8973 40.1439,56.8973 C41.5802,56.8973 39.9187,58.467 40.347,60.784 C41.8203,60.3941 43.5101,58.274 43.5101,56.7146 C43.5101,55.1555 45.0189,52.5689 44.7679,51.7889 C44.5667,51.1652 43.8455,49.9685 43.5101,49.448 Z"
              id="Shape"
              fill="#000000"
              fill-rule="nonzero"></path>
            <path
              d="M49.6538,41.3114 C49.0014,42.1842 47.4369,42.1176 46.1594,41.1627 C44.882,40.2077 44.306,38.5106 44.8782,37.5829 C45.665,36.3071 47.1431,36.3491 48.4205,37.3041 C49.698,38.259 50.3063,40.4386 49.6538,41.3114 Z"
              id="Path"
              fill="#FED1D0"
              fill-rule="nonzero"
              opacity="0.5"></path>
            <path
              d="M42.1218,82.2483 C42.3799,78.1191 42.8208,74.1293 43.009,72.6506 L44.1383,75.6353 C46.4505,76.4419 50.5257,78.3229 53.7521,77.2259 C56.9784,76.1289 61.5606,73.1068 62.7705,72.0039 C62.5285,73.16 61.8348,76.182 60.996,79.0212 C60.1571,81.8604 57.3125,91.3889 55.9951,95.7983 L42.1218,95.7983 C42.0142,93.0021 41.8637,86.3775 42.1218,82.2483 Z"
              id="Path"
              fill="#000000"
              fill-rule="nonzero"></path>
            <path
              d="M51.5091,18.7812 C51.1651,20.4531 51.3617,22.4194 52.6889,22.9109"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M44.7422,15.5859 C44.4191,16.0566 43.4642,17.1257 42.2302,17.6367"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M21.3242,23.6416 C21.7488,23.823 23.1077,23.9264 25.1459,22.8879 C27.6936,21.5898 28.0132,20.2496 31.2404,19.5377 M40.1353,15.9766 C39.2436,16.2278 37.0695,17.0654 35.5068,18.4056 C33.5535,20.0808 32.8317,21.5517 30.7085,22.2198 M47.3965,15.4328 C47.2691,16.4663 46.4877,18.7341 44.3816,19.5377 M49.01,16.6473 C49.2082,16.9684 49.5451,17.9456 49.3073,19.2857 M21.3242,21.3323 C21.1685,20.6754 21.7055,18.0684 22.3849,16.6473 C23.6428,14.0161 26.6746,10.8679 30.2415,9.4021 C33.8083,7.9363 39.2861,6.59575 42.4283,6.67951 C45.5706,6.76327 46.7171,6.59831 51.0058,8.14786 C54.4368,9.3875 57.163,10.898 58.0971,11.4982 L60.8997,12.8803 L59.7957,14.2623 C60.192,14.5555 61.1884,15.3512 62.0037,16.1888 C63.0228,17.2358 63.7023,21.3819 63.8296,23.2665 C63.9316,24.7741 63.0228,28.669 62.5558,30.4279 M42.3521,11.2613 C39.8622,11.4466 36.6961,10.4914 35.4243,9.99063 C34.1803,9.42798 30.8652,8.88 27.8823,10.6524"
              id="Shape"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M45.8571,12.7148 C42.7857,14.1429 37.3525,14.4421 31.4907,13.3365"
              id="Path"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </g>
      </svg>

      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
        Hey, I'm Pol Piella
      </h1>
      <p
        class="text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold">
        <strong>iOS App Developer</strong>
        based in Manchester, UK, with 6+ years of experience. I specialize in building
        unique app experiences on Apple platforms.
      </p>

      <a
        href="mailto:pol@appdiggershq.com"
        class="mb-2 me-2 w-fit rounded-lg bg-gray-800 px-5 py-2.5 text-lg font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700">
        Contact Me
      </a>
    </section>

    <section
      class="section container mx-auto w-full scroll-m-20 md:max-w-2xl lg:max-w-4xl">
      <h2
        class="mb-2 flex items-center gap-x-3 text-3xl font-semibold text-black/80 dark:text-white">
        Apps
      </h2>

      <p
        class="text-lg text-gray-800 dark:text-gray-300 [&>strong]:font-semibold">
        As an indie developer, I craft delightful apps for Apple platforms. My
        apps have earned App Store features and thousands of happy users
        worldwide.
      </p>

      <div class="mt-6 flex flex-col gap-4">
        <AppShowcase
          imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/35/ab/21/35ab213e-4def-fc07-66e3-e0e3ef80f792/AppIcon-0-0-85-220-0-0-5-0-2x-sRGB.png/512x512bb.png"
          title="Helm for App Store Connect"
          description="A client for App Store Connect that allows you to manage your apps and their metadata."
        />

        <AppShowcase
          imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/67/bb/e1/67bbe1a3-cc45-eaef-7707-3191e4cef7dc/AppIcon-0-0-1x_U007epad-0-0-0-1-0-0-P3-85-220.png/512x512bb.jpg"
          title="NowPlaying"
          isIOSIcon
          description="Discover new music and uncover hidden stories behind your favorite songs, albums, and artists."
        />

        <AppShowcase
          imageUrl="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/76/bd/b7/76bdb703-6f01-804c-2e63-1af0f4f9b098/AppIcon-0-0-85-220-0-5-0-2x-P3.png/512x512bb.png"
          title="QReate - QR code editor"
          description="Privacy fist QR code editor for macOS."
        />
      </div>
    </section>

    <section
      id="speaking"
      class="section container mx-auto flex w-full scroll-m-20 flex-col md:max-w-2xl lg:max-w-4xl">
      <h2
        class="mb-2 flex items-center gap-x-3 text-3xl font-semibold text-black/80 dark:text-white">
        Public Speaking
      </h2>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        I have been fortunate enough to speak at a number of events around the
        world, here's some of them!
      </p>
      <div
        class="section container mx-auto flex w-full scroll-m-20 flex-col gap-12 md:max-w-2xl lg:max-w-4xl">
        {
          Object.entries(engagementsByYear)
            .sort(([leftYear]: any, [rightYear]: any) => rightYear - leftYear)
            .map(([year, engagements]) => (
              <div>
                <h2 class="flex pb-1 font-title text-2xl dark:text-gray-50">
                  {year}
                </h2>
                <hr class="mb-6" />
                <div class="flex flex-col gap-6">
                  {engagements.map((engagement: SpeakingEngagement) => (
                    <Talk
                      title={engagement.title}
                      event={engagement.eventName}
                      date={engagement.startDate}
                      icon={engagement.image}
                      link={engagement.link}
                      slides={engagement.slides}
                    />
                  ))}
                </div>
              </div>
            ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
