---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPreview from "@components/BlogPreview.svelte";
import { getCollection } from "astro:content";
import MediaGrid from "@components/media/MediaGrid.astro";
import TitledGrid from "@components/TitledGrid.svelte";
import BlogSponsor from "@components/BlogSponsor.svelte";
import Subscribe from "@components/Subscribe.astro";
import { getAllCategories } from "@services/categories";

const posts = await getCollection("blog");
const sortedPosts = posts
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  )
  .slice(0, 6);

const categories = await getAllCategories();
---

<BaseLayout
  title="polpielladev 📱 | A blog about iOS mobile app development and Swift"
  description="Blog posts about iOS mobile app development and Swift by Pol Piella."
  activeNav="index"
>
  <div class="flex flex-col gap-12">
    <section class="grid lg:grid-cols-[1fr_400px] gap-8">
      <div class="flex flex-col max-w-2xl gap-5 mb-6">
        <h1
          class="text-4xl font-title tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
        >
          Welcome to my blog 👋
        </h1>
        <p
          class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
        >
          I'm Pol, a content creator and iOS developer. In this blog I write
          about all things iOS, Swift and software development best practices. I
          also have a newsletter about iOS CI/CD if you want to subscribe 👇
        </p>
        <Subscribe />
      </div>
      <div class="">
        <BlogSponsor />
      </div>
    </section>
    <section>
      <div class="flex flex-col mb-4">
        <h2 class="flex pb-1 font-title text-2xl dark:text-gray-50">
          Browse by category
        </h2>
        <hr class="h-1" />
      </div>
      <div class="flex gap-3 text-sm flex-wrap">
        {
          categories.map((category) => (
            <a
              href=`/category/${category.slug}`
              class="py-1 px-3 rounded-md font-semibold hover:opacity-75 transition-opacity cursor-pointer"
              style={{ backgroundColor: category.color }}
            >
              {category.name}
            </a>
          ))
        }
      </div>
    </section>
    <TitledGrid
      title="Latest articles"
      offsetTop
      disclose={{ title: "See all", link: "/posts" }}
    >
      {
        sortedPosts.map((post, index: number) => (
          <BlogPreview
            title={post.data.title}
            slug={post.slug}
            excerpt={post.data.excerpt}
            pubDate={post.data.pubDate}
            isNew={index == 0}
          />
        ))
      }
    </TitledGrid>

    <!-- <TitledGrid
      title="Upcoming speaking engagements"
      responsive={false}
      disclose={{ title: 'All events', link: '/speaking' }}>
      <UpcomingTalks />
    </TitledGrid> -->

    <TitledGrid title="Videos">
      <MediaGrid />
    </TitledGrid>
  </div>
</BaseLayout>
