---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview.svelte'
import Hero from '@components/Hero.svelte'
import { getCollection } from 'astro:content'
import Subscribe from '@components/Subscribe.svelte'
import MediaGrid from '@components/media/MediaGrid.astro'
import TitledGrid from '@components/TitledGrid.svelte'
import UpcomingTalks from '@components/UpcomingTalks.svelte'

const posts = await getCollection('blog')
const sortedPosts = posts
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  .slice(0, 6)
---

<BaseLayout
  title="polpielladev 📱 | A blog about iOS mobile app development and Swift"
  description="Blog posts about iOS mobile app development and Swift by Pol Piella."
  image="https://polpiella.dev/assets/home.jpg"
  activeNav="index">
  <div class="flex flex-col gap-12">
    <section>
      <Hero
        title="Welcome to my blog 👋"
        body="I'm Pol, a content creator and iOS developer. In this blog I write about all things iOS, Swift and software development best practices. I also have a newsletter about iOS CI/CD if you want to subscribe 👇">
        <Subscribe />
      </Hero>
    </section>
    <TitledGrid
      title="Latest articles"
      offsetTop
      disclose={{ title: 'See all', link: '/posts' }}>
      {
        sortedPosts.map((post, index: number) => (
          <BlogPreview
            title={post.data.title}
            slug={post.slug}
            excerpt={post.data.excerpt}
            pubDate={post.data.pubDate}
            isNew={index == 0}
          />
        ))
      }
    </TitledGrid>

    <TitledGrid title="Upcoming speaking engagements" responsive={false}>
      <UpcomingTalks />
    </TitledGrid>

    <TitledGrid title="Speaking">
      <MediaGrid />
    </TitledGrid>
  </div>
</BaseLayout>
