---
import Metadata from './Metadata.astro';
import Tags from './Tags.astro';
const { post } = Astro.props;
const { slug, title, excerpt, date, readtime, tags } = post;
---
<a href={`/${slug}`} class="p-3 hover:bg-fuchsia-100 no-underline rounded" > 
    <div>
        <h1>{title}</h1>
        <p>{excerpt}</p>
        <Metadata date={date} readtime={readtime} />
        <Tags tags={tags} />
    </div>
</a>