---
import BaseLayout from '@layouts/BaseLayout.astro'
import Subscribe from '@components/Subscribe'
import Parser from 'rss-parser'

const parser = new Parser()

const { items } = await parser.parseURL(
  'https://sendy.polpiella.dev/campaigns-rss?a=I8YAOkQbYijtGLtK0H9GbAHucrwltO&i=1'
)
const MAPPED_ISSUE_DATES = {
  'iOS CI Newsletter - Issue #2': 'Nov 6, 2022',
  'iOS CI Newsletter - Issue #1': 'Oct 23, 2022',
}

const dateForIssue = (issue) => {
  if (MAPPED_ISSUE_DATES[issue.title]) {
    return MAPPED_ISSUE_DATES[issue.title]
  }
  const dateComponents = issue.pubDate.split(',')
  return `${dateComponents[1]}, ${dateComponents[2]}`
}
---

<BaseLayout
  title="iOS CI Newsletter"
  description="A fortnightly independent newsletter gathering all updates and news about Continuous Integration and Continuous Delivery from the iOS community."
  image="https://polpiella.dev/assets/newsletter-og.png">
  <div
    class="flex sm:max-w-3xl w-full m-auto my-0 gap-1 prose dark:prose-invert h-full items-center flex-1">
    <div class="px-3 my-0 flex flex-col gap-5">
      <!-- Header... -->
      <header class="w-full">
        <div class="flex gap-4 justify-center items-center">
          <div>
            <h1>iOS CI Newsletter</h1>
            <p>
              A fortnightly independent newsletter gathering all updates and
              news about Continuous Integration and Continuous Delivery from the
              iOS community.
            </p>
            <p>
              This newsletter will include interviews, tutorials and even memes
              about CI!
            </p>
          </div>
          <img
            src="/assets/ci-newsletter.svg"
            class="w-72 m-0 hidden sm:block"
            alt=""
            srcset=""
          />
        </div>
        <Subscribe client:visible />
      </header>

      <section>
        <h2 class="mt-0">Issues</h2>
        {
          items.map((item) => (
            <div>
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="m-0"
                href={item.link}>
                {item.title}
              </a>
              <p class="m-0">{dateForIssue(item)}</p>
              <hr class="my-5 w-28" />
            </div>
          ))
        }
      </section>
    </div>
  </div>
</BaseLayout>
