---
import BaseLayout from '@layouts/BaseLayout.astro'
import SubscribeInput from '@components/SubscribeInput'
import Parser from 'rss-parser'
import InfoPane from '@components/InfoPane'

const parser = new Parser()

const { items } = await parser.parseURL(
  'https://sendy.polpiella.dev/campaigns-rss?a=I8YAOkQbYijtGLtK0H9GbAHucrwltO&i=1'
)
const MAPPED_ISSUE_DATES = {
  'iOS CI Newsletter - Issue #2': 'Nov 6, 2022',
  'iOS CI Newsletter - Issue #1': 'Oct 23, 2022',
}

const dateForIssue = (issue) => {
  if (MAPPED_ISSUE_DATES[issue.title]) {
    return MAPPED_ISSUE_DATES[issue.title]
  }
  const dateComponents = issue.pubDate.split(',')
  return `${dateComponents[1]}, ${dateComponents[2]}`
}
---

<BaseLayout
  title="iOS CI Newsletter"
  description="A fortnightly independent newsletter gathering all updates and news about Continuous Integration and Continuous Delivery from the iOS community."
  image="https://polpiella.dev/assets/newsletter.jpg"
  activeNav="newsletter">
  <div class="flex my-0 gap-1 prose dark:prose-invert h-full">
    <div class="my-0 flex flex-col gap-5">
      <header class="w-full">
        <InfoPane
          title="iOS CI Newsletter"
          description="A fortnightly independent newsletter gathering all updates and news about Continuous Integration and Continuous Delivery from the iOS community."
          alt="/assets/profile.jpg"
          image="/assets/ci-newsletter.svg"
          circleImage={false}
        />
      </header>

      <section class="mt-4 mb-4 w-full">
        <h3 class="m-0 mb-2">Subscribe</h3>
        <SubscribeInput client:load />
      </section>

      <section>
        <h2 class="mt-0">Issues</h2>
        {
          items.map((item) => (
            <div>
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="m-0"
                href={item.link}>
                {item.title}
              </a>
              <p class="m-0">{dateForIssue(item)}</p>
              <hr class="my-5 w-28" />
            </div>
          ))
        }
      </section>
    </div>
  </div>
</BaseLayout>
