---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.svelte'

interface Props {
  title: string
  description: string
  image?: string
  center?: boolean
  activeNav?: string
}

const {
  title,
  description,
  image,
  center = false,
  activeNav = '',
} = Astro.props

const { pathname } = Astro.url
const isNewsletter = pathname.includes('/newsletter')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/assets/profile.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={`RSS Feed for ${
        isNewsletter ? 'the iOS CI Newsletter' : 'polpiella.dev'
      }`}
      href={`${isNewsletter ? '/newsletter/rss.xml' : '/rss.xml'}`}
    />

    <meta property="og:url" content="https://polpiella.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@polpielladev" />
    <meta name="twitter:creator" content="@polpielladev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <script
      src="https://cdn.usefathom.com/script.js"
      data-site={import.meta.env.FATHOM_ENTITY_ID}
      defer
    ></script>
  </head>
  <body
    class="flex min-h-screen flex-col max-w-2xl px-4 mx-auto justify-between dark:bg-gray-900">
    <Header activeNav={activeNav} />
    <main class={`flex flex-auto ${center ? 'items-center' : ''}`}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
