---
import Header from '@components/Header.astro'
import Footer from '@components/Footer'

const {
  title = 'polpielladev 📱 | A blog about software engineering and app development',
  description = 'Blog posts about iOS mobile app development by Pol Piella.',
  image,
  center = false,
  activeNav = '',
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/assets/profile.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for polpiella.dev"
      href="/rss.xml"
    />

    <meta property="og:url" content="https://polpiella.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@polpielladev" />
    <meta name="twitter:creator" content="@polpielladev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <script
      src="https://cdn.usefathom.com/script.js"
      data-site={import.meta.env.FATHOM_ENTITY_ID}
      defer
    ></script>

    <script>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
    
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body
    class="flex min-h-screen flex-col max-w-2xl px-4 mx-auto justify-between dark:bg-gray-900">
    <Header activeNav={activeNav} />
    <main class={`flex flex-auto ${center ? 'items-center' : ''}`}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
