---
import '@styles/blog-detail.css'
import BaseLayout from '@layouts/BaseLayout.astro'
import Subscribe from '@components/Subscribe.svelte'
import Metadata from '@components/Metadata.svelte'

interface Props {
  url: string
}

const { url } = Astro.props
const { title, excerpt, pubDate } = Astro.props.content
const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
  dateStyle: 'full',
})
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(
  title
)}`
---

<BaseLayout {title} description={excerpt} image={fullImageURL}>
  <article
    class="prose prose-pre:bg-slate-700 hover:prose-a:underline focus:prose-a:underline prose-a:no-underline lg:prose-lg max-w-full dark:prose-invert prose-blockquote:not-italic prose-blockquote:dark:bg-gray-800 prose-blockquote:bg-gray-100 prose-blockquote:font-normal prose-blockquote:border-yellow-600 prose-blockquote:m-0 prose-blockquote:rounded-r-md prose-p:before:content-none prose-p:after:content-none mx-auto my-0">
    <header class="flex flex-col gap-2 mb-8">
      <h1
        class="text-2xl sm:text-4xl font-sans font-semibold"
        style="margin: 0 0 !important;">
        {title}
      </h1>
      <time datetime={pubDate} class="block text-zinc-400 text-sm sm:text-base">
        {formattedDate}
      </time>
      <Metadata filePath={url} />
    </header>
    <slot />
    <div class="mt-14">
      <Subscribe client:visible />
    </div>
  </article>
</BaseLayout>
