---
import '@styles/blog-detail.css'
import BaseLayout from '@layouts/BaseLayout.astro'
import Subscribe from '@components/Subscribe'

const { title, excerpt, pubDate } = Astro.props.content
const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(
  title
)}`
---

<BaseLayout {title} description={excerpt} image={fullImageURL}>
  <article
    class="prose prose-pre:mt-2 max-w-full prose-pre:dark:bg-gray-900 prose-pre:px-0 prose-pre:pt-0 sm:max-w-prose prose-lg dark:prose-invert prose-blockquote:not-italic prose-blockquote:dark:bg-gray-800 prose-blockquote:bg-gray-100 prose-blockquote:font-normal prose-blockquote:border-yellow-600 prose-blockquote:m-0 prose-blockquote:rounded-r-md prose-p:before:content-none prose-p:after:content-none mx-auto my-0">
    <header class="mb-8">
      <p class="text-zinc-400 m-0 font-bold">{formattedDate}</p>
      <div class="flex flex-col gap-3">
        <h1 class="text-5xl m-0">{title}</h1>
        <div>
        </div>
      </div>
    </header>
    <slot />
    <Subscribe client:load />
  </article>
</BaseLayout>
