---
import '../styles/blog-detail.css'
import Metadata from '../components/Metadata'
import Tags from '../components/Tags'
import BaseLayout from '../components/BaseLayout'

const { title, excerpt, tags, pubDate, readtime, slug } = Astro.props.content
const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(
  title
)}`
---

<BaseLayout {title} description={excerpt} imageURL={fullImageURL}>
  <article
    class='prose prose-pre:mt-2 max-w-full sm:max-w-prose prose-lg dark:prose-invert prose-blockquote:not-italic prose-blockquote:dark:bg-gray-800 prose-blockquote:bg-gray-100 prose-blockquote:font-normal prose-blockquote:border-yellow-600 prose-blockquote:m-0 prose-blockquote:rounded-r-md prose-p:before:content-none prose-p:after:content-none mx-auto my-0 px-3'>
    <header class='mb-8'>
      <h3 class=' text-zinc-400 m-0 font-bold'>{formattedDate}</h3>
      <div class='flex flex-col gap-5'>
        <h1 class='m-0'>{title}</h1>
        <Tags {tags} />
        <Metadata {readtime} {slug} />
      </div>
    </header>
    <slot></slot>
  </article>
</BaseLayout>
