---
import "@styles/blog-detail.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogSponsor from "@components/BlogSponsor.svelte";
import Subscribe from "@components/Subscribe.astro";
import PromoPill from "@components/PromoPill.astro";

interface Props {
  url: string;
}

const { title, excerpt, pubDate } = Astro.props.content;
const formattedDate = new Date(pubDate).toLocaleDateString("en-US", {
  dateStyle: "full",
});
const fullImageURL = `https://www.polpiella.dev/api/thumbnail?title=${encodeURI(
  title,
)}`;
---

<BaseLayout {title} description={excerpt} image={fullImageURL}>
  <article>
    <div class="xl:grid xl:grid-cols-[1fr_minmax(100px,80ch)] xl:gap-12">
      <aside class="xl:block hidden">
        <div class="sticky top-6 space-y-20">
          <BlogSponsor variant="default" client:only />
          <div class="flex flex-col gap-6">
            <div>
              <h3 class="dark:text-white text-xl font-title mb-1">
                iOS CI Newsletter
              </h3>
              <p class="dark:text-gray-300">
                Join over <strong>1,000</strong> developers and never miss the latest
                iOS CI/CD news delivered straight to your inbox.
              </p>
            </div>
            <Subscribe />
          </div>
        </div>
      </aside>

      <div
        class="prose prose-pre:bg-slate-700 lg:prose-lg w-full dark:prose-invert prose-blockquote:not-italic prose-blockquote:dark:bg-purple-800/10 prose-blockquote:bg-purple-600/10 prose-blockquote:font-normal prose-blockquote:border-purple-600 prose-blockquote:border-2 prose-blockquote:m-0 prose-blockquote:mb-6 prose-blockquote:rounded-2xl prose-p:before:content-none prose-p:after:content-none my-0 dark:hover:prose-a:text-violet-400 hover:prose-a:text-violet-700 prose-a:transition-colors xl:max-w-none mx-auto"
      >
        <header class="flex flex-col gap-2 mb-8">
          <h1
            class="m-0 mb-[0.25em] font-title"
            style="margin: 0 0 !important; line-height: 1.1;"
          >
            {title}
          </h1>
          <time
            datetime={pubDate}
            class="block text-zinc-400 text-sm sm:text-base"
          >
            {formattedDate}
          </time>
        </header>
        <div class="xl:hidden block">
          <BlogSponsor variant="small" client:load />
        </div>
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
